<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="author" content="J David Smith">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/tufte.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/tufte_ext.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/solarized_light.css'%>">
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/atom+xml"
      title="Record of Motion" href="<%= config.root + 'atom.xml' %>" />
  </head>
  <body>
    <%- partial('_partial/header') %>
    <%- body %>
    <footer>
    <% if(page.prev_link) { %><a href="<%= config.root + page.prev_link %>">&lt; Previous</a>
    <% } else if(!page.title && page.prev !== 0) { %><a href="<%= config.root %>">&lt; Previous</a><% } %>
    <% if(page.next_link) { %><a href="<%= config.root + page.next_link %>">Next &gt;</a><% } %>
    </footer>
  </body>
</html>
